<header>
  <div class="header-container">
    <div class="header-left-content">
      <img class="header-logo" src="/assests/header-assets/Logo.png" alt="DevDesk Queue logo" />
      <h2>We're here to help!</h2>
      <p>
        DevDesk Queue is an online ticketing system that serves Lambda students
        that need help during the course. It gives helpers a way to administer
        assistance to those students easily and provides a visual way to track
        their current task.
      </p>
    </div>

    <div class="header-right-content">
      <img class="header-illustration"
      src="/assests/header-assets/undraw_code_typing_7jnv.svg"
      alt="code typing"
      />
      <div class="header-login">
        <h5>Student or Helper?</h5>
        <button>Login Here!</button>
      </div>
    </div>
    <div class="header-bg-polygon-blue"></div>
    <div class="header-bg-polygon-light-blue"></div>
  </div>
</header>
