/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Lato', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lato', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.nav-container {
  position: sticky;
  top: 0;
  max-width: 1400px;
  justify-content: center;
  z-index: 99;
}
.nav-container .navbar {
  display: flex;
  justify-content: space-between;
  background-color: #3ab5e5;
  align-items: center;
  padding: 22px;
}
.nav-container img {
  height: 10%;
  width: 15%;
}
@media (max-width: 500px) {
  .nav-container img {
    width: 100%;
  }
}
.nav-container a {
  padding: 6.5px;
  text-decoration: none;
  font-size: 1.8rem;
  color: white;
}
.nav-container a:hover {
  color: #bb1333;
  cursor: pointer;
}
.a-tags {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}
@media (max-width: 800px) {
  .navbar {
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
  }
  .navbar .lambda-logo {
    height: 28px;
  }
  .navbar a {
    font-size: 1.3rem;
  }
}
@media (max-width: 500px) {
  .navbar {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-size: 10px;
  }
  .navbar .l-logo {
    display: none;
  }
  .navbar .a-tags {
    display: flex;
    flex-direction: column;
  }
  .navbar a {
    font-size: 2rem;
    display: flex;
    justify-content: center;
  }
}
.header-container {
  background: linear-gradient(to bottom right, transparent 49.8%, #1a61b0 100%), linear-gradient(to top right, transparent 49.8%, #3ab5e5 100%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.header-container .header-left-content {
  width: 40%;
  padding: 2rem 0rem;
}
.header-container .header-left-content .header-logo {
  width: 35rem;
  padding: 0 1rem;
  margin: 1.5rem 0;
}
.header-container .header-left-content h2 {
  font-family: 'Lato', sans-serif;
  color: #444444;
  font-size: 3rem;
  line-height: 3rem;
  padding: 2rem 0rem;
}
.header-container .header-left-content p {
  font-family: 'Lato', sans-serif;
  color: #444444;
  font-size: 1.7rem;
  line-height: 2.5rem;
}
.header-container .header-right-content {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0rem;
}
.header-container .header-right-content .header-illustration {
  padding: 2rem 0px;
  transition: transform 0.3s;
}
.header-container .header-right-content .header-illustration:hover {
  transform: scale(1.05) translateY(-1.5rem);
  backdrop-filter: blur(4rem);
  z-index: 20;
}
.header-container .header-right-content .header-login {
  align-items: center;
}
.header-container .header-right-content .header-login h5 {
  font-family: 'Lato', sans-serif;
  color: #444444;
  font-size: 2rem;
  line-height: 2rem;
  padding: 2rem;
}
.header-container .header-right-content .header-login button {
  padding: 1rem 20%;
  border-radius: 1rem;
  border: none;
  background-color: #bb1333;
  font-family: 'Lato', sans-serif;
  color: #444444;
  font-size: 2rem;
  line-height: 2rem;
  color: white;
  transition: transform 0.3s;
}
.header-container .header-right-content .header-login button:hover {
  transform: scale(1.05);
  background-color: #ffffff;
  color: #55596d;
}
.header-container .header-right-content .header-login button:hover ::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
@media (max-width: 800px) {
  .header-container .header-left-content {
    width: 60vw;
    padding: 0rem 0rem 1rem 3rem;
  }
  .header-container .header-left-content .header-logo {
    width: 80%;
    padding: 1rem 2rem;
  }
  .header-container .header-left-content p {
    font-family: 'Lato', sans-serif;
    color: #444444;
    font-size: 1.6rem;
    line-height: 2rem;
    padding-bottom: 2rem;
  }
  .header-container .header-right-content {
    width: 40vw;
  }
  .header-container .header-right-content .header-illustration {
    display: none;
  }
  .header-container .header-right-content .header-login h5 {
    font-family: 'Lato', sans-serif;
    color: #444444;
    font-size: 1.8rem;
    line-height: 2rem;
    padding: 0rem 0rem 2rem 0rem;
  }
  .header-container .header-right-content .header-login button {
    padding: 1.5rem 3rem;
    font-size: 1.6em;
  }
  .header-bg-polygon-blue {
    display: none;
  }
  .header-bg-polygon-light-blue {
    top: 120px;
    left: 50%;
  }
}
@media (max-width: 500px) {
  .header-container {
    flex-direction: column;
    padding-bottom: 1rem;
  }
  .header-container .header-left-content {
    width: 100%;
    padding: 0rem 1.5rem;
    text-align: center;
  }
  .header-container .header-left-content .header-logo {
    padding: 1rem 1rem;
  }
  .header-container .header-right-content {
    width: 100%;
  }
  .header-bg-polygon-light-blue {
    display: none;
  }
}
.about-section {
  position: relative;
  background-image: linear-gradient(to bottom, #1a61b0, rgba(0, 0, 0, 0)), url("/assests/about-assets/LAMBDA_058.jpeg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto 100%;
  background-color: #1a61b0;
  max-height: 80rem;
}
.about-section .about-text-content {
  font-family: 'Lato', sans-serif;
  color: #444444;
  font-size: 1.8em;
  line-height: 2em;
}
.about-section .about-text-content h2 {
  font-family: 'Lato', sans-serif;
  color: #444444;
  font-size: 3rem;
  line-height: 1rem;
  color: white;
  padding: 4rem 0;
  margin: 0rem 5rem;
  width: 20rem;
}
.about-section .about-text-content .about-inner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Lato', sans-serif;
  color: #444444;
  font-size: 1em;
  line-height: 1.8em;
}
.about-section .about-text-content .about-inner-container .helper-container {
  position: relative;
  right: -2rem;
  width: 25em;
  height: 15em;
  padding: 0rem 3.5rem;
  margin: 1rem 3rem;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 3;
  transition: transform 0.3s;
}
.about-section .about-text-content .about-inner-container .helper-container img {
  position: relative;
  top: -3rem;
  width: 6rem;
  filter: invert(34%) sepia(5%) saturate(1862%) hue-rotate(193deg) brightness(97%) contrast(88%);
}
.about-section .about-text-content .about-inner-container .helper-container .helper-text {
  position: relative;
  top: -2rem;
}
.about-section .about-text-content .about-inner-container .helper-container .helper-text h5 {
  font-weight: 700;
  font-size: 1.4em;
}
.about-section .about-text-content .about-inner-container .helper-container .helper-text ul {
  font-family: 'Lato', sans-serif;
  color: #444444;
  font-size: 1em;
  line-height: 1em;
}
.about-section .about-text-content .about-inner-container .helper-container .helper-text ul li {
  padding-top: 1rem;
}
.about-section .about-text-content .about-inner-container .helper-container:hover {
  transform: scale(1.05) translateY(-1.5rem);
  backdrop-filter: blur(4rem);
  z-index: 20;
  box-shadow: 1rem 1rem 0rem 0rem rgba(187, 19, 51, 0.7);
}
.about-section .about-text-content .about-inner-container .student-container {
  position: relative;
  top: -6rem;
  left: -2rem;
  width: 30em;
  height: 12em;
  padding: 1rem 2rem;
  margin-right: 4rem;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 3;
  transition: transform 0.3s;
}
.about-section .about-text-content .about-inner-container .student-container img {
  position: relative;
  top: -2rem;
  right: -35rem;
  width: 6rem;
  filter: invert(34%) sepia(5%) saturate(1862%) hue-rotate(193deg) brightness(97%) contrast(88%);
}
.about-section .about-text-content .about-inner-container .student-container .student-text {
  position: relative;
  top: -8rem;
  margin: 2rem;
}
.about-section .about-text-content .about-inner-container .student-container .student-text h5 {
  font-size: 1.2em;
  font-weight: 700;
}
.about-section .about-text-content .about-inner-container .student-container .student-text ul {
  text-align: right;
  padding-top: 2rem;
  font-family: 'Lato', sans-serif;
  color: #444444;
  font-size: 1em;
  line-height: 1em;
}
.about-section .about-text-content .about-inner-container .student-container .student-text ul li {
  padding-top: 1rem;
}
.about-section .about-text-content .about-inner-container .student-container:hover {
  transform: scale(1.05) translateY(-1.5rem);
  backdrop-filter: blur(4rem);
  z-index: 20;
  box-shadow: 1rem 1rem 0rem 0rem rgba(187, 19, 51, 0.7);
}
.about-section .app-screenshot {
  padding: 3.5rem 0rem;
  width: 45%;
  margin: auto 7rem;
}
.about-section .app-screenshot img {
  position: relative;
  border: 3px solid #55596d;
  background-color: lightgray;
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.3);
  z-index: 5;
  transition: transform 0.3s;
}
.about-section .app-screenshot img:hover {
  transform: scale(1.02);
  box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.2);
}
.about-section .about-bg-polygon-blue {
  position: absolute;
  top: 0%;
  left: 5%;
  width: 80%;
  height: 100%;
  z-index: 0;
  clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);
  background-image: linear-gradient(to bottom, #1a61b0, #ffffff);
}
@media (max-width: 800px) {
  .about-section {
    background-image: none;
    max-height: 70rem;
  }
  .about-section .about-text-content {
    font-family: 'Lato', sans-serif;
    color: #444444;
    font-size: 1.4em;
    line-height: 1.6em;
  }
  .about-section .about-text-content h2 {
    font-size: 2em;
    padding-left: 1rem;
  }
  .about-section .about-text-content .about-inner-container .helper-container {
    padding: 1rem 1.5rem;
    margin: 0 2rem;
    width: 25em;
    height: 23rem;
    right: -3rem;
  }
  .about-section .about-text-content .about-inner-container .helper-container img {
    top: 0rem;
    left: 13rem;
    width: 4rem;
    height: auto;
    z-index: 2;
  }
  .about-section .about-text-content .about-inner-container .helper-container .helper-text {
    top: -1rem;
  }
  .about-section .about-text-content .about-inner-container .helper-container .helper-text h5 {
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 1.1em;
    text-align: center;
  }
  .about-section .about-text-content .about-inner-container .helper-container .helper-text ul {
    text-align: center;
    vertical-align: middle;
  }
  .about-section .about-text-content .about-inner-container .helper-container .helper-text ul li {
    font-size: 1.2em;
  }
  .about-section .about-text-content .about-inner-container .student-container {
    top: -4rem;
    margin-right: 1.3rem;
    width: 30rem;
    height: 22rem;
  }
  .about-section .about-text-content .about-inner-container .student-container img {
    top: 0rem;
    right: -10rem;
    width: 4rem;
  }
  .about-section .about-text-content .about-inner-container .student-container .student-text {
    top: 0rem;
    margin: 0rem;
  }
  .about-section .about-text-content .about-inner-container .student-container .student-text h5 {
    text-align: center;
    font-size: 1.2em;
  }
  .about-section .about-text-content .about-inner-container .student-container .student-text ul {
    text-align: center;
    vertical-align: middle;
    padding: 0;
  }
  .about-section .about-text-content .about-inner-container .student-container .student-text ul li {
    font-size: 1.1em;
  }
  .about-section .app-screenshot {
    padding: 2rem 0rem;
    margin: auto 12rem;
    width: 50%;
  }
  .about-section .about-bg-polygon-blue {
    left: 30%;
    width: 65%;
  }
}
@media (max-width: 500px) {
  .about-section {
    background-image: none;
    max-height: 90rem;
  }
  .about-section .about-text-content {
    font-family: 'Lato', sans-serif;
    color: #444444;
    font-size: 1em;
    line-height: 1.4em;
    text-align: center;
  }
  .about-section .about-text-content h2 {
    font-size: 3em;
    padding: 3rem;
    width: auto;
  }
  .about-section .about-text-content .about-inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .about-section .about-text-content .about-inner-container .helper-container {
    padding: 1rem 0rem;
    margin: 1rem;
    width: 30em;
    height: 21em;
    right: 0rem;
  }
  .about-section .about-text-content .about-inner-container .helper-container img {
    top: 0rem;
    left: 1rem;
    width: 3rem;
  }
  .about-section .about-text-content .about-inner-container .helper-container .helper-text {
    top: 0rem;
  }
  .about-section .about-text-content .about-inner-container .helper-container .helper-text h5 {
    top: 0rem;
    font-size: 2em;
    margin: 0;
  }
  .about-section .about-text-content .about-inner-container .helper-container .helper-text ul {
    padding-top: 1rem;
    font-family: 'Lato', sans-serif;
    color: #444444;
    font-size: 1.4em;
    line-height: 1.4em;
  }
  .about-section .about-text-content .about-inner-container .helper-container .helper-text ul li {
    padding-top: 0.5rem;
  }
  .about-section .about-text-content .about-inner-container .student-container {
    top: 0rem;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem 0rem;
    margin: 1rem;
    width: 30em;
    height: 20em;
  }
  .about-section .about-text-content .about-inner-container .student-container img {
    top: 0rem;
    right: 0rem;
    width: 3rem;
  }
  .about-section .about-text-content .about-inner-container .student-container .student-text {
    top: -1rem;
    margin: 1rem;
  }
  .about-section .about-text-content .about-inner-container .student-container .student-text h5 {
    font-size: 2em;
  }
  .about-section .about-text-content .about-inner-container .student-container .student-text ul {
    text-align: center;
    padding-top: 1rem;
    font-family: 'Lato', sans-serif;
    color: #444444;
    font-size: 1.4em;
    line-height: 1.4em;
  }
  .about-section .about-text-content .about-inner-container .student-container .student-text ul li {
    padding-top: 0.5rem;
  }
  .about-section .app-screenshot {
    width: 70%;
    margin: auto;
  }
  .about-section .about-bg-polygon-blue {
    display: none;
  }
}
.team-section {
  background-image: linear-gradient(to bottom right, #f0f4f7, #bb1333);
}
.team-section .tabs {
  color: #55596d;
  width: 100%;
  padding-top: 2rem;
}
.team-section .tabs h1 {
  color: #444444;
  display: flex;
  justify-content: center;
}
.team-section .tabs .tabWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 2% 0;
  width: 100%;
}
@media (max-width: 500px) {
  .team-section .tabs .tabWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 1rem 0px;
  }
}
.team-section .tabs .tabWrapper .tab {
  font-size: 1.6rem;
  flex-direction: row;
  margin: 2% 23px;
  text-transform: uppercase;
  cursor: pointer;
}
@media (max-width: 500px) {
  .team-section .tabs .tabWrapper .tab {
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 800px) {
  .team-section .tabs .tabWrapper .tab {
    font-size: 1.5rem;
    margin-left: 0;
  }
}
@media (max-width: 500px) {
  .team-section .tabs {
    font-size: 1rem;
    width: 100%;
    margin: 0px;
  }
}
.id-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .id-cards {
    width: 90%;
    margin-left: 5%;
  }
}
.id-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5%;
  width: 45%;
  height: 250px;
  background-color: #f0f4f7;
  box-shadow: 1px 1px 4px 1px rgba(85, 89, 109, 0.5);
}
.id-card .id-card-content {
  padding: 0 4%;
}
.id-card h4 {
  display: flex;
  justify-content: center;
}
.id-card h5 {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  margin-bottom: 0.8rem;
  color: #55596d;
}
.id-card p {
  text-align: center;
}
@media (max-width: 800px) {
  .id-card p {
    line-height: 2rem;
  }
}
@media (max-width: 500px) {
  .id-card {
    width: 100%;
    justify-content: center;
  }
}
.id-card .img-container {
  order: -99;
  width: 100%;
  padding: 2%;
  height: auto;
}
.id-card .img-container img {
  border-radius: 50%;
}
.id-card:hover {
  transform: scale(1.1);
}
.endorsements-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50rem;
  background-color: #eeeeee;
}
.endorsements-section h1 {
  font-family: 'Lato', sans-serif;
  color: #444444;
  font-size: 4rem;
  line-height: 4rem;
  padding: 4rem 0 0 0;
  margin: 0 3rem;
}
.endorsements-section .carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 90%;
}
.endorsements-section .carousel .left-button,
.endorsements-section .carousel .right-button {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  font-size: 4rem;
  background-color: #3ab5e5;
  color: #f0f4f7;
  box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 5;
}
.endorsements-section .carousel .left-button:active,
.endorsements-section .carousel .right-button:active {
  transform: translate(0%, 10%);
}
.endorsements-section .carousel .left-button i {
  transform: translate(80%, 10%);
}
.endorsements-section .carousel .right-button i {
  transform: translate(150%, 10%);
}
.endorsements-section .carousel .carousel-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  vertical-align: middle;
  text-align: center;
  width: 80%;
  height: 80%;
  padding: 1rem;
  margin: 0 3rem;
  background-color: #ffffff;
  box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.endorsements-section .carousel .carousel-card-container .carousel-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  display: none;
  margin: auto;
  width: 90%;
  height: 90%;
}
.endorsements-section .carousel .carousel-card-container .carousel-card .quote-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 4rem;
  padding: 1rem;
  color: #0c3c78;
}
.endorsements-section .carousel .carousel-card-container .carousel-card .carousel-quote {
  font-family: 'Lato', sans-serif;
  color: #444444;
  font-size: 2.2rem;
  line-height: 3rem;
  font-style: italic;
  padding: 1rem 0 3rem 0;
}
.endorsements-section .carousel .carousel-card-container .carousel-card .divider {
  width: 40%;
  margin: auto;
  padding-bottom: 1rem;
  border-top: 1px solid #55596d;
}
.endorsements-section .carousel .carousel-card-container .carousel-card .person {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 2rem 0;
}
.endorsements-section .carousel .carousel-card-container .carousel-card .person img {
  margin: 0 1rem;
  width: 70px;
}
.endorsements-section .carousel .carousel-card-container .carousel-card .person .person-text {
  padding: 1rem;
}
.endorsements-section .carousel .carousel-card-container .carousel-card .person .person-text .person-name {
  font-family: 'Lato', sans-serif;
  color: #444444;
  font-size: 2.4rem;
  line-height: 4rem;
  color: #bb1333;
}
.endorsements-section .carousel .carousel-card-container .carousel-card .person .person-text .person-title {
  font-family: 'Lato', sans-serif;
  color: #444444;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #999999;
}
@media (max-width: 800px) {
  .endorsements-section h1 {
    font-family: 'Lato', sans-serif;
    color: #444444;
    font-size: 3rem;
    line-height: 3rem;
  }
  .endorsements-section .carousel .left-button,
  .endorsements-section .carousel .right-button {
    width: 4rem;
    height: 4rem;
  }
  .endorsements-section .carousel .left-button i {
    transform: translate(50%, 0);
  }
  .endorsements-section .carousel .right-button i {
    transform: translate(110%, 0%);
  }
  .endorsements-section .carousel .carousel-card-container {
    padding: 0rem;
  }
  .endorsements-section .carousel .carousel-card-container .carousel-card .carousel-quote {
    font-family: 'Lato', sans-serif;
    color: #444444;
    font-size: 2rem;
    line-height: 3rem;
    padding: 1rem 0 2.5rem 0;
  }
  .endorsements-section .carousel .carousel-card-container .carousel-card .person {
    padding: 1rem 0;
  }
  .endorsements-section .carousel .carousel-card-container .carousel-card .person .person-text .person-name {
    font-family: 'Lato', sans-serif;
    color: #444444;
    font-size: 2rem;
    line-height: 4rem;
    color: #bb1333;
  }
  .endorsements-section .carousel .carousel-card-container .carousel-card .person .person-text .person-title {
    font-family: 'Lato', sans-serif;
    color: #444444;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #999999;
  }
}
@media (max-width: 500px) {
  .endorsements-section h1 {
    font-family: 'Lato', sans-serif;
    color: #444444;
    font-size: 2.2rem;
    line-height: 2.4rem;
    padding: 3rem 0 3rem 0;
    margin: 0 1rem;
    text-align: center;
  }
  .endorsements-section .carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .endorsements-section .carousel .left-button {
    order: 2;
    transform: translate(-100%, -60%);
    width: 6rem;
    height: 6rem;
  }
  .endorsements-section .carousel .left-button i {
    transform: translate(120%, 25%);
  }
  .endorsements-section .carousel .right-button {
    transform: translate(110%, 40%);
    width: 6rem;
    height: 6rem;
  }
  .endorsements-section .carousel .right-button i {
    transform: translate(200%, 25%);
  }
  .endorsements-section .carousel .carousel-card-container {
    height: 70%;
  }
  .endorsements-section .carousel .carousel-card-container .carousel-card .carousel-quote {
    font-family: 'Lato', sans-serif;
    color: #444444;
    font-size: 1.8rem;
    line-height: 2rem;
  }
  .endorsements-section .carousel .carousel-card-container .carousel-card .person img {
    width: 50px;
  }
  .endorsements-section .carousel .carousel-card-container .carousel-card .person .person-text .person-name {
    font-family: 'Lato', sans-serif;
    color: #444444;
    font-size: 1.8rem;
    line-height: 2rem;
    color: #bb1333;
    margin-bottom: 0.5rem;
  }
  .endorsements-section .carousel .carousel-card-container .carousel-card .person .person-text .person-title {
    font-family: 'Lato', sans-serif;
    color: #444444;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #999999;
  }
}
.contact-content {
  display: flex;
  padding: 10px;
  background-image: linear-gradient(to top, #f0f4f7, #14121e);
}
.contact-content h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f0f4f7;
  font-size: 4.5rem;
  width: 100%;
}
@media (max-width: 500px) {
  .contact-content h4 {
    justify-content: center;
  }
}
.contact-content form {
  width: 75%;
  justify-content: center;
  color: #f0f4f7;
}
@media (max-width: 500px) {
  .contact-content form {
    width: 95%;
  }
}
.contact-content input[type=text],
.contact-content select {
  width: 100%;
  padding: 12px;
  margin: 8px;
  border: 1px solid #55596d;
  box-sizing: border-box;
}
.contact-content input[type=submit] {
  width: 100%;
  background-color: #0c3c78;
  color: #f0f4f7;
  padding: 20px;
  margin: 8px;
  cursor: pointer;
}
.contact-content input[type=submit]:hover {
  background-color: #1a61b0;
}
.contact-content label {
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  .contact-content {
    flex-direction: column;
  }
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background: #14121e;
  color: white;
  padding-left: 3%;
  height: 73px;
}
footer .footer-copyright {
  background: #14121e;
}
footer .footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
footer .footer-content p {
  padding-bottom: 0px;
}
footer .footer-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 45%;
}
footer .footer-img p {
  padding-bottom: 0px;
}
footer .footer-img img {
  background-color: 281195;
  border-radius: 50%;
  filter: invert(100%);
  padding-right: 1%;
}
