 <section>
    <div>
        <h1>What people are saying about us</h1>
        <div class="carousel">
            <div class="left-button" ><</div>
                <p class= 'carousel-quote'>This is the best website ever!</p>
                <p class= 'carousel-quote'>I was so far behind and Dev Desk Queue saved my life!</p>
                <p class= 'carousel-quote'>If it wasn't for Dev Desk I wouldnt have my job right now!</p>
                <p class= 'carousel-quote'>If only Lambda's Dev Desk Queue was available for all of life's problems!</p>
            <div class="right-button">></div>
            </div>
        </div>
</section>