<h1>Meet Our Team</h1>
<div class="tabs">
  <div class="tab">
    <img src="#" alt="" />
    <h4>Tittle</h4>
  </div>
  <div class="tab">
    <img src="#" alt="" />
    <h4>Tittle</h4>
  </div>
  <div class="tab">
    <img src="#" alt="" />
    <h4>Tittle</h4>
  </div>
  <div class="tab">
    <img src="#" alt="" />
    <h4>Tittle</h4>
  </div>
  <div class="tab">
    <img src="#" alt="" />
    <h4>Tittle</h4>
  </div>
  <div class="tab">
    <img src="#" alt="" />
    <h4>Tittle</h4>
  </div>
  <div class="tab">
    <img src="#" alt="" />
    <h4>Tittle</h4>
  </div>
</div>
<div class="id-cards">
  <div class="idCard">
    <h4>Title Name</h4>
    <h5>Subtitle</h5>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos odio
      corporis expedita a eum omnis pariatur sint aliquid ullam. Ipsam assumenda
      nulla eaque. Quos iure quibusdam molestiae et adipisci. Dolorem.
    </p>
    <img src="#" alt="#" />
  </div>
  <div class="idCard">
    <h4>Title Name</h4>
    <h5>Subtitle</h5>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos odio
      corporis expedita a eum omnis pariatur sint aliquid ullam. Ipsam assumenda
      nulla eaque. Quos iure quibusdam molestiae et adipisci. Dolorem.
    </p>
    <img src="#" alt="#" />
  </div>
  <div class="idCard">
    <h4>Title Name</h4>
    <h5>Subtitle</h5>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos odio
      corporis expedita a eum omnis pariatur sint aliquid ullam. Ipsam assumenda
      nulla eaque. Quos iure quibusdam molestiae et adipisci. Dolorem.
    </p>
    <img src="#" alt="#" />
  </div>
  <div class="idCard">
    <h4>Title Name</h4>
    <h5>Subtitle</h5>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos odio
      corporis expedita a eum omnis pariatur sint aliquid ullam. Ipsam assumenda
      nulla eaque. Quos iure quibusdam molestiae et adipisci. Dolorem.
    </p>
    <img src="#" alt="#" />
  </div>
  <div class="idCard">
    <h4>Title Name</h4>
    <h5>Subtitle</h5>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos odio
      corporis expedita a eum omnis pariatur sint aliquid ullam. Ipsam assumenda
      nulla eaque. Quos iure quibusdam molestiae et adipisci. Dolorem.
    </p>
    <img src="#" alt="#" />
  </div>
  <div class="idCard">
    <h4>Title Name</h4>
    <h5>Subtitle</h5>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos odio
      corporis expedita a eum omnis pariatur sint aliquid ullam. Ipsam assumenda
      nulla eaque. Quos iure quibusdam molestiae et adipisci. Dolorem.
    </p>
    <img src="#" alt="#" />
  </div>
  <div class="idCard">
    <h4>Title Name</h4>
    <h5>Subtitle</h5>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos odio
      corporis expedita a eum omnis pariatur sint aliquid ullam. Ipsam assumenda
      nulla eaque. Quos iure quibusdam molestiae et adipisci. Dolorem.
    </p>
    <img src="#" alt="#" />
  </div>
</div>
