.about-section {
  position: relative;
  background-image: linear-gradient(to bottom,
  @lambda-blue, rgba(0, 0, 0, 0)),
  url("/assests/about-assets/LAMBDA_058.jpeg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto 100%;
  background-color: @lambda-blue;
  max-height: 80rem;

  .about-text-content {
    .font(1.8em, 2em);
    h2 {
      .font(3rem, 1rem);
      color: white;
      padding: 4rem 0;
      margin: 0rem 5rem;
      width: 20rem;
    }
    .about-inner-container {
      .displayFlex(space-around, center);
      .font(1em, 1.8em);

      .helper-container {
        position: relative;
        right: -2rem;
        width: 25em;
        height: 15em;
        padding: 0rem 3.5rem;
        margin: 1rem 3rem;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 3;
        transition: transform .3s;

        img {
          position: relative;
          top: -3rem;
          width: 6rem;
          filter: invert(34%) sepia(5%) saturate(1862%) hue-rotate(193deg) brightness(97%) contrast(88%);
        }
        .helper-text {
          position: relative;
          top: -2rem;
          h5 {
            font-weight: 700;
            font-size: 1.4em;
          }
          ul {
            .font(1em, 1em);

            li {
              padding-top: 1rem;
            }
          }
        }
      }
      .helper-container:hover {
        transform: scale(1.05) translateY(-1.5rem);
        backdrop-filter: blur(4rem);
        z-index: 20;
        box-shadow: 1rem 1rem 0rem 0rem rgba(@lambda-red, .7);
      }
      .student-container {
        position: relative;
        top: -6rem;
        left: -2rem;
        width: 30em;
        height: 12em;
        padding: 1rem 2rem;
        margin-right: 4rem;
        background-color: rgba(255,255,255, .8);
        z-index: 3;
        transition: transform .3s;

        img {
          position: relative;
          top: -2rem;
          right: -35rem;
          width: 6rem;
          filter: invert(34%) sepia(5%) saturate(1862%) hue-rotate(193deg) brightness(97%) contrast(88%);
        }
        .student-text {
          position: relative;
          top: -8rem;
          margin: 2rem;
          h5 {
            font-size: 1.2em;
            font-weight: 700;
          }
          ul {
            text-align: right;
            padding-top: 2rem;
            .font(1em, 1em);

            li {
              padding-top: 1rem;
            }
          }
        }
      }
      .student-container:hover {
        transform: scale(1.05) translateY(-1.5rem);
        backdrop-filter: blur(4rem);
        z-index: 20;
        box-shadow: 1rem 1rem 0rem 0rem rgba(@lambda-red, .7);
      }
    }
  }
  .app-screenshot {
    padding: 3.5rem 0rem;
    width: 45%;
    margin: auto 7rem;
    img {
      position: relative;
      border: 3px solid @lambda-grey;
      background-color: lightgray;
      box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.3);
      z-index: 5;
      transition: transform .3s;
    }
  }
  .app-screenshot img:hover {
    transform: scale(1.02);
    box-shadow: 0 0 1rem .5rem rgba(0,0,0, .2);
  }
  .about-bg-polygon-blue {
    position: absolute;
    top: 0%;
    left: 5%;
    width: 80%;
    height: 100%;
    z-index: 0;
    clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);
    background-image: linear-gradient(to bottom,
      @lambda-blue, rgb(255, 255, 255));
  }
}

@media (max-width: 800px) {
  .about-section {
    background-image: none;
    max-height: 70rem;
    .about-text-content {
      .font(1.4em, 1.6em);
      h2 {
        padding-left: 1rem;
        font-size: 2em;
        font-weight: 700;
      }
    .about-inner-container {

      .helper-container {
        padding: 1rem 1.5rem;
        margin: 0 2rem;
        width: 25em;
        height: 23rem;
        right: -3rem;

        img {
          top: 0rem;
          left: 13rem;
          width: 4rem;
          height: auto;
          z-index: 2;
        }
        .helper-text {
          top: -1rem;
          h5 {
            margin-left: 1rem;
            margin-top: 1rem;
            font-size: 1.1em;
            text-align: center;
          }
          ul {
            text-align: center;
            vertical-align: middle;
            li {
              font-size: 1.2em;
            }
          }
        }
      }
      .student-container {
        top: -4rem;
        margin-right: 1.3rem;
        width: 30rem;
        height: 22rem;

        img {
          top: 0rem;
          right: -10rem;
          width: 4rem;
        }
        .student-text {
          top: 0rem;
          margin: 0rem;
          h5 {
            text-align: center;
            font-size: 1.2em;
          }
          ul {
            text-align: center;
            vertical-align: middle;
            padding: 0;
            li {
              font-size: 1.1em;
            }
          }
        }
      }
    }
    }
    .app-screenshot {
      padding: 2rem 0rem;
      margin: auto 12rem;
      width: 50%;
    }

    .about-bg-polygon-blue {
      left: 30%;
      width: 65%;
    }
  }
}

@media (max-width: 500px) {
  .about-section {
    background-image: none;
    max-height: 90rem;
    .about-text-content {
      .font(1em, 1.4em);
      text-align: center;
      h2 {
        font-size: 2.5em;
        padding: 3rem;
        width: auto;
      }
      .about-inner-container {
        .displayFlex(center,center);
        flex-wrap: wrap;
        flex-direction: column;

        .helper-container {
          padding: 1rem 0rem;
          margin: 1rem;
          width: 30em;
          height: 21em;
          right: 0rem;

          img {
            top: 0rem;
            left: 1rem;
            width: 3rem;
          }
          .helper-text {
            top: 0rem;
            h5 {
              top: 0rem;
              font-size: 2em;
              margin: 0;
            }
            ul {
              padding-top: 1rem;
              .font(1.4em, 1.4em);
              li {
                padding-top: .5rem;
              }
            }
          }
        }
      .student-container {
        top: 0rem;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem 0rem;
        margin: 1rem;
        width: 30em;
        height: 20em;

        img {
          top: 0rem;
          right: 0rem;
          width: 3rem;
        }
        .student-text {
          top: -1rem;
          margin: 1rem;
          h5 {
            font-size: 2em;
          }
          ul {
            text-align: center;
            padding-top: 1rem;
            .font(1.4em, 1.4em);
            li {
              padding-top: .5rem;
            }
          }
        }
      }
      }
    }
    .app-screenshot {
      width: 70%;
      margin: auto;
    }
    .about-bg-polygon-blue {
      display: none;
    }
  }
}
