.endorsements-section {
  .displayFlex(center, center);
  .font(1rem, 1rem);
  flex-direction: column;
  height: 50rem;
  // background:
  // linear-gradient(to bottom right, transparent 49.8%, @lambda-grey 100%),
  // linear-gradient(to top right, transparent 49.8%, @lambda-grey 100%);

  background-color: #eeeeee;

  h1 {
    padding: 4rem 0 0 0;
    margin: 0 3rem;
  }
  .carousel {
    .displayFlex(center, center);
    width: 90%;
    height: 90%;

    .left-button {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      font-size: 4rem;
      background-color: @lambda-light-blue;
      color: @lambda-light-grey;
      box-shadow: 0rem .5rem 1rem 0rem rgba(0, 0, 0, 0.2);
      cursor: pointer;
      i {
        transform: translate(80%, 10%);
        z-index: 5;
      }
    }
    .right-button {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      font-size: 4rem;
      background-color: @lambda-light-blue;
      color: @lambda-light-grey;
      box-shadow: 0rem .5rem 1rem 0rem rgba(0, 0, 0, 0.2);
      cursor: pointer;
      i {
        transform: translate(150%, 10%);
        z-index: 5;
      }
    }
    .carousel-card-container {
      .displayFlex(center, center);
      flex-direction: column;
      vertical-align: middle;
      text-align: center;
      width: 80%;
      height: 80%;
      padding: 1rem;
      margin: 0 3rem;
      // border: 1px solid pink;
      background-color: #ffffff;
      box-shadow: 0rem .5rem 1rem 0rem rgba(0, 0, 0, 0.2);
      z-index: 2;
      .carousel-card {
        .displayFlex(space-between, center);
        flex-direction: column;
        display: none;
        // border: 1px solid green;
        margin: auto;
        width: 90%;
        height: 90%;

        .quote-icons {
          .displayFlex(space-between, center);
          // border: 1px solid pink;
          font-size: 4rem;
          color: @lambda-dark-blue;
        }

        .carousel-quote {
          .font(2.2rem, 3rem);
          font-style: italic;
          padding: 2rem 0 4rem 0;
          // border: 1px solid pink;
        }
        .divider {
          width: 40%;
          margin: auto;
          padding-bottom: 1rem;
          border-top: 1px solid @lambda-grey;
        }
        .person {
          .displayFlex(center, center);
          // width: 60%;
          // height: 60%;
          text-align: left;
          padding: 2rem 0;
          // border: 1px solid pink;
          img {
            margin: 0 1rem;
            width: 70px;
          }
          .person-text{
            padding: 1rem;
            .person-name {
              .font(2.4rem, 4rem);
              color: @lambda-red;
            }
            .person-title {
              .font(1.6rem, 1.6rem);
              color: #999999;
            }
          }
        }
      }

    }
  }
}
