footer {
  .displayFlex(center, center);
  background: @lambda-black-blue;
  color: @lambda-light-grey;
  .footer-content {
    .displayFlex(space-between, center);
    padding: 1rem;
    width: 1000px;

    .footer-copyright {
      .displayFlex(center, center);
      img {
        padding: 0.5rem;
      }
      p {
        padding-bottom: 0px;
      }
    }
    .footer-social {
      .displayFlex(flex-end, center);
      width: 45%;
      padding-right: 1rem;
      p {
        padding-bottom: 0px;
        padding-right: 1rem;
      }
      img {
        filter: invert(100%);
        padding-right: 2%;
      }
    }
  }
}

@media @mobile {
  footer {
    .footer-content {
      flex-direction: column-reverse;
      .footer-copyright {
        p {
          font-size: 1.2rem;
        }
      }
      .footer-social {
        width: 100%;
        p {
          font-size: 1.2rem;
        }
      }
    }
  }
}
