footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .footer-copyright{
        background-color: black;

    }
    .footer-content{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        p{
            padding-bottom: 0px;

        }

    }

}