nav {
  .displayFlex(space-between, center);
  flex-wrap: wrap;
  background-color: rgb(19,18,30);
  ul {
    .displayFlex(space-between, flex-start);
    width: 75%;
    margin-right: 1rem;
    li a {
      .font(1.4rem,1.4rem);
      margin-right: 1.5rem;
      text-decoration: none;
      color: white;
    }
  }
}

@media(max-width: 800px) {
  nav {
    flex-direction: column;
    ul {
      width: 80%;
      height: 5rem;
      .displayFlex(center, flex-start);
      flex-wrap: wrap;
    }
  }
}

@media(max-width: 500px) {
  nav {
    ul {
      width: 90%;
      height: 9rem;
    }
  }
}
