.team-section {
  background-color: @lambda-red;
  position: relative;

  .tabs {
    padding-top: 2rem;
    width: 100%;
    color: @lambda-light-grey;

    .team-title {
      display: flex;
      justify-content: center;
      padding-bottom: 2rem;
      margin: 1.2rem;
      z-index: 9;
    }

    .tab-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0;
      width: 100%;

      .tab {
        z-index: 2;
        font-size: 1.6rem;
        flex-direction: row;
        padding: 0 2rem 2rem 2rem;
        text-transform: uppercase;
        cursor: pointer;
      }
      .tab:hover {
        text-decoration-line: underline;
      }
    }
  }

  .id-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 0;

    .id-card {
      z-index: 3;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-top: 1.5rem;
      margin: 2rem;
      width: 42%;
      min-width: 200px;
      background-color: rgba(@lambda-light-grey, .8);
      box-shadow: 0px 2px 15px 3px rgb(#000000, 0.2);
      transition: transform .3s;

      .id-card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;

        .img-name-container {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          transition: transform .3s;

          img {
            border-radius: 50%;
            width: 10vw;
            max-width: 100px;
            filter: grayscale(70%)
          }
          img:hover {
            filter: grayscale(0%);
          }
          .team-title {
            display: flex;
            flex-direction: column;
            padding: 1.5rem;

            h4 {
              font-size: 1.8rem;
              color: @lambda-red;
            }
            h5 {
              color: @lambda-grey;
              font-size: 1.4rem;
            }
          }
        }
        p {
          text-align: center;
          padding: 2rem;
          color: @lambda-grey;
        }
      }
    }
    .id-card:hover {
      transform: scale(1.02) translateY(-1.01rem);
      backdrop-filter: blur(4rem);
    }
  }

  .team-bg-polygon {
    position: absolute;
    top: 0%;
    left: 13%;
    width: 540px;
    height: 100%;
    transform: skew(-10deg);
    z-index: 0;
    background-image: linear-gradient(to bottom,
      transparent, rgb(@lambda-light-grey, .5));
  }
}

@media @tablet {
  .team-section {
    .id-cards {
      padding-top: 1rem;
      .id-card {
        p {
          line-height: 2rem;
        }
      }
    }
    .team-bg-polygon {
    display: none;
    }
  }
}

@media @mobile {
  .team-section {
    .tabs {
      h1 {
        font-size: 2.5rem;
      }
    }
    .id-cards {
      .id-card {
        width: 100%;
        padding-top: 0;
        margin: 1.5rem;

        .id-card-content {
          .img-name-container {
            align-items: center;
            img {
              width: 15vw;
            }
          }
          p {
            padding: 1rem;
          }
        }
      }
    }
    .team-bg-polygon {
      display: none;
    }
  }
}
