<section class="about-section">
  <div class="about-text-content">
    <h2>How It Works</h2>

    <div class="about-inner-container">
      <div class="helper-container">
        <img src="/assests/about-assets/iconmonstr-delivery-8.svg" alt="icon" />
        <div class="helper-text">
          <h5>As a helper you can...</h5>
          <ul>
            <li>- Login to your own account</li>
            <li>- View all unresolved tickets</li>
            <li>- Assign open items</li>
            <li>- Close resolved tickets</li>
            <li>- Un-assign your own tickets</li>
          </ul>
        </div>
      </div>

      <div class="student-container">
        <img src="/assests/about-assets/iconmonstr-help-6.svg" alt="icon" />
        <div class="student-text">
          <h5>As a student you can...</h5>
          <ul>
            <li>- Login to your own account</li>
            <li>- Submit a ticket with your issue details</li>
            <li>- Clearly view all unresolved tickets</li>
            <li>- Ability to receive prompt assistance</li>
          </ul>
        </div>
      </div>

    </div>

  </div>

  <div class="app-screenshot">
    <img src="/assests/about-assets/app-screenshot.png" alt="app screenshot" />
  </div>

  <div class="about-bg-img">
    <!-- <img src="/assests/about-assets/LAMBDA_058.jpeg" alt="students on laptop" /> -->
  </div>

</section>
